.account-settings-wrapper {
  margin: 24px;

  .account-control {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: flex;

    margin-bottom: 24px;

    @media all and (max-width: 644px) {
      flex-direction: column;
      // grid-template-columns: auto;
      // grid-template-rows: auto auto;
      // gap: 24px;
      button:first-of-type {
        margin-bottom: 24px;
      }
    }

    button:first-of-type {
      margin-right: 24px;
    }
  }

  .account-settings-heading,
  .update-account {
    margin-bottom: 48px;
  }

  .image-upload-wrapper {
    margin-bottom: 24px;
    padding: 24px;

    label {
      font-size: 1.17rem;
      margin-bottom: 24px;
      font-weight: 500;
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.image-upload-container {
  margin-right: 15%;

  @media all and (max-width: 810px) {
    margin-right: 0;
  }
}

.preview-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.5fr;

  .preview {
    background-position: 'center';
    background-size: cover;
    background-repeat: 'no-repeat';
    width: 100px;
    height: 100px;
    margin-left: 24px;
  }
}
