.navbar-wrapper {
  background-color: var(--white);
  border-right: 1px solid var(--light-grey);
  height: 100vh;
  // position: fixed;
  width: 72px;
  overflow: hidden;

  .navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
}
