.auth-select-wrapper {
  width: 100%;
  align-self: end;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--black);
  margin-bottom: var(--component-padding);

  select {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 36px;
    background: none;
    color: var(--black);

    border: 1px solid var(--light-grey);
  }

  i {
    position: absolute;
    margin-left: 12px;
    display: flex;
  }

  .auth-select {
    label {
      transform: scale(0.8) translateY(-24px);
      padding: 0 4px;
      background-color: var(--white);
      margin-left: 36px;
      font-size: 0.875rem;
      color: var(--mid-grey);
      pointer-events: none;
    }
  }

  label {
    transform: scale(0.8) translateY(-24px);
    padding: 0 4px;
    background-color: var(--white);
    margin-left: 36px;
    font-size: 0.875rem;
    color: var(--mid-grey);
    pointer-events: none;
    position: absolute;
  }
}
