html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  line-height: 1.5;
  -ms-overflow-style: none;
  font-family: 'Maison Neue';
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 500;
}
