////// CloudClinic Design System

// variables
:root {
  //colors
  --navy-blue: #293241;
  --dark-blue: #3e5b7f;
  --mid-blue: #9ac2d8;
  --light-blue: #ddf2fd;
  --accent: #f683ac;
  --black: #212429;
  --white: #ffffff;
  --dark-grey: #495057;
  --mid-grey: #acb5bd;
  --light-grey: #dde2e5;
  --off-white: #f8f9fa;
  --bg-color: #f9fafc;
  --selected-color: #f8f8f8;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  //spacing
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --component-padding: var(--space-md);
  --border-radius: 8px;
  color: var(--black);
}

// typography
@font-face {
  font-family: 'Maison Neue';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('../assets/MaisonNeue-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../assets/MaisonNeue-Demi.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('../assets/MaisonNeue-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../assets/MaisonNeue-Book.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('../assets/MaisonNeue-Light.woff2') format('woff2');
  font-display: swap;
}
