@import './configs/variables';
@import './configs/reset';

h1 {
  font-family: 'Maison Neue';
}

.bold {
  font-family: 'Maison Neue';
  font-weight: 700;
}

.medium {
  font-family: 'Maison Neue';
  font-weight: 600;
}

.demi {
  font-family: 'Maison Neue';
  font-weight: 500;
}

.book {
  font-family: 'Maison Neue';
  font-weight: 400;
}

.light {
  font-family: 'Maison Neue';
  font-weight: 300;
}
