.card-wrapper {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border-radius: calc(var(--border-radius) / 2);
  position: relative;
  overflow: hidden;

  .trim {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--dark-blue);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
