.search-wrapper {
  position: relative;
  i {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  input {
    padding: 12px 24px;
    border: 1px solid var(--light-grey);
    border-radius: calc(var(--border-radius) / 2);
    padding-left: 42px;
  }

  ::placeholder {
    color: var(--mid-grey);
  }
}
