.navbar-profile-wrapper {
  display: flex;
  border-top: 1px solid var(--light-grey);
  padding: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .profile {
    display: flex;
    align-items: center;
    .avatar {
      margin-left: -4px;
      $size: 32px;
      width: $size;
      max-width: $size;
      min-width: $size;
      max-height: $size;
      min-height: $size;
      height: $size;
      border-radius: 50%;
      background-color: grey;
      text-indent: -10000px;
      color: transparent;
      font-size: 0;
    }

    img {
      border: none;
      color: transparent;
      font-size: 0;
    }

    .name {
      margin: 0 20px;
      font-size: 0.875rem;
      white-space: nowrap;
    }
  }

  svg {
    display: flex;
    cursor: pointer;
  }
}
