.message-wrapper-sender {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 8px;
  margin-bottom: 24px;

  @media all and (max-width: 550px) {
    grid-template-columns: 42px auto;
  }
}

.message-wrapper-receiver {
  display: grid;
  grid-template-columns: auto 50px;
  gap: 8px;
  margin-bottom: 24px;
  justify-items: right;

  @media all and (max-width: 550px) {
    grid-template-columns: auto 42px;
  }
}

.user-avatar {
  align-content: end;
  width: 50px;
  height: 50px;
  @media all and (max-width: 550px) {
    width: 42px;
    height: 42px;
  }
}

.message-container {
  display: grid;
  width: 70%;

  .time-stamp {
    font-size: 10px;
    color: var(--mid-grey);
    justify-self: center;
    margin-bottom: 8px;
  }

  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.message {
  padding: 24px;
  p {
    font-size: 0.875rem;

    @media all and (max-width: 550px) {
      font-size: 12px;
    }
  }

  @media all and (max-width: 550px) {
    padding: 12px;
  }
}

.sender {
  background-color: var(--light-blue);
  padding: 24px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.receiver {
  background-color: var(--light-grey);
  padding: 24px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  justify-items: right;
}
